* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url(//db.onlinewebfonts.com/c/d2e53139489c87d8a93cec933f7ec773?family=Shabnam);

body {
    font-family: "Shabnam", sans-serif;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(29,115,209,1) 61%, rgba(148,187,233,1) 100%);
}

.boxform {
    margin: 10rem auto;
    /* display: flex;
    flex-direction: column; */
    /* text-align: center; */
    width: 30%;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-radius: 4rem; */
    /* border: 1px solid white; */
    position: relative;
}

.total > img {
    width: 6rem;
    height: 5rem;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    bottom: 17rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.total > .logform {
    padding: 4rem 4rem 1rem 4rem;
    border: 1px solid grey;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
